<div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center text-lg-left">
        <h2>Approdable Packages</h2>
        <p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
        <a href="#" class="learn-more btn btn-link text-success">
          Learn More 
          <i class="pi pi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-8">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
            <div class="card">
              <div class="card-body text-center">
                <i class="pi pi-desktop" style="font-size: 2em; color: #8bc34a;"></i>
                <h5 class="card-title mt-3">Certified Teacher</h5>
                <p class="card-text">The gradual accumulation of information about</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body text-center">
                <i class="pi pi-search" style="font-size: 2em; color: #8bc34a;"></i>
                <h5 class="card-title mt-3">Expert Instruction</h5>
                <p class="card-text">The gradual accumulation of information about</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  